/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

/* App container */
.App {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
  .App {
    padding: 15px;
  }

  form {
    padding: 0 5px;
  }

  button {
    padding: 10px;
    font-size: 14px;
  }

  input, select {
    padding: 8px;
    font-size: 14px;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  form {
    padding: 0 10px;
  }

  input, select {
    font-size: 12px;
    padding: 6px;
  }

  button {
    padding: 8px;
    font-size: 12px;
  }

  p {
    font-size: 14px;
  }
}
.amount-control {
  margin-top: 20px;
  text-align: center;
}

.amount-control div {
  margin-bottom: 10px;
}

.amount-control button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.amount-control button:hover {
  background-color: #218838;
}

.amount-control span {
  display: inline-block;
  margin: 0 15px;
  font-weight: bold;
}

.amount-control p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* Table Container */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

/* Table Header Styling */
thead th {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

/* Table Row Styling */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

/* Table Cell Styling */
td, th {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

/* Number column alignment */
td:first-child, th:first-child {
  text-align: center;
  width: 50px;
}

.buttonfield {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adds space between the buttons */
  margin-top: 20px;
}

.buttonfield button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

